html, body, .wrapper {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
  }
  
  .wrapper {
    display:flex;
  }
  
  @media (orientation:portrait) {
   
    .wrapper {
      flex-direction:column;
    }
  }
  
  @media (orientation:landscape) {
  
  
  }
  
  html {
    font-size:24px;
  }
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;
    line-height:1.2em;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin:0;
  }
  
  .brand {
    width:200px;
    position:relative;
    text-align:left;
    background:#000;
    color:#fff;
  }
  
  .brand .logo {
    position:absolute;
    bottom:0;
    width:100vh;
    height:200px;
    transform:rotate(270deg);
    text-transform:uppercase;
    font-size:100px;
    line-height:200px;
    width:100%;
    padding:2rem 0;
  }
  
  .brand .logo::first-letter {
    font-weight:bold;
  }
  
  .list {
    display:flex;
    flex:1;
  }
  
  .list img {
    max-width:100%;
    max-height:100%;
  }
  
  .highlight {
    display:flex;
    flex-direction:column;
    text-align:left;
    color:rgba(255,255,255,0.9);
    text-shadow:2px 2px 0 rgba(0,0,0,0.8);
    padding:2rem;
    width:400px;
    text-align:right;
    background-image:url('https://secure.static.tumblr.com/f99af891319a371b9298c68137833083/jhcj1ql/6AQn6he5r/tumblr_static_food58-burger_-two-bleu-bacon.jpg');
  
    background-size:auto 150%;
    background-position:top center;
    background-repeat:no-repeat;
  }
  
  .title {
    font-size:3rem;
    line-height:1em;
    margin-bottom:0.5em;
  }
  
  .subtitle {
    font-size:1.5rem;
    opacity:0.8;
    line-height:1.2em;
  }
  
  .items {
    flex:1;
    transition:transform 1s;
    padding:1rem;
  }
  
  .item {
    display:flex;
    align-items:center;
    padding:1rem;
  }
  
  .items.columns-2 .item-container {
    width:50%;
    float:left;
  }
  
  .items.columns-2 .item-container:nth-child(odd) {
    clear:both;
  }
  
  .items.columns-2 .item-container:nth-child(odd) .item {
    margin-right:1rem;
  }
  
  .item .image {
    width:140px;
    text-align:left;
    padding:1rem;
    display:flex;
    align-items:center;
    display:none;
  }
  
  .item .details {
    flex:1;
    text-align:left;
    padding:0 1rem;
  }
  
  .item .name {
    font-weight:bold;
    margin-bottom:0.5em;
    font-size:125%;
  }
  
  
  
  .item .label {
    width:2em;
    height:2em;
    object-fit:contain;
    position:relative;
  }
  

  
  .item .price {
    text-align:right;
    font-size:125%;
    font-weight:bold;
  }
  
  